.profile-container{
    width: 80%;
    height: 50px;

    background:rgba(255,255,255,0.5);
    border-radius: 15px;
    margin:1em 0 1em 0;
}

.profile-photo {
    width: 30%;
}

.profile-photo img{
    width: 50%;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;

}