.card-container {
    max-width: 400px;
    min-width: 250px;

    max-height: 500px;
    min-width: 300px;

    width: 40%;
    height: 70%;

    background: url('../../assets/card.png') center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 2% 1% 1% 1%;

    justify-content: flex-start;
}
.card-container-profile {
    width: 90%;
    height: 30%;
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    background-color: rgba(255,255,255,.35);
    border-radius: 20px;
    backdrop-filter: blur(4px);


}

.card-container-skill {
    flex:1;
    height: max-content;
    justify-content: space-around;
}


.card-description{
    padding: 0 0 0 .5em;
    color:var(--white);
}

.c-d-name {
    font-size: 18px;
}

.c-d-content {
    font-size: 10px;
    padding: 0 0.8em 0 0.5em;
}

.card-description p {
    margin: 0.5em 0 0.5em 0;
}

.card-photo > img {
    width: 90%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}


.card-buttons-bar {
    justify-content: space-around;
}

.lang-item{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background:rgba(255,255,255,.15);

    margin: .5em 0 .5em 0;
}

.lang-item img {
    width: 60%;
    height: 60%;
}

.skill{
    margin:1em;
}

.skill-lang {
    margin:1em;
}

.interest-card-item {
    background:rgba(255,255,255,.15);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: .25em 1.5em 0.25em 1.5em;
    margin:0.5em 0 0.5em 0;
    color:var(--white);
    font-size: 15px;
}


.btn{
    cursor: pointer;
    background: var(--white);
    padding: .8em;
    border-radius: 50%;
}

.btn img {
    width: 25px;
}

.btn-right img {
    width: 40px;
}

.any-coincidence {
    padding:0 1em 0 1em;
    width: 80%;
    height: 90%;
    background-color: rgba(255,255,255,.35);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    color:var(--dark);
}



.matched {
    animation: 0.5s match 1;
}

.next {
    animation: 0.5s next 1;
}

@keyframes match {
    from{
      transform: rotate3d(0,0,1,0deg);
    }
    to {
        transform:translate(100px,-40px);
        opacity:0;
    }
}

@keyframes next {
    from{
      transform: rotate3d(0,0,1,0deg);
    }
    to {
        transform:translate(-100px,-40px);
        opacity:0;
    }
}



@media screen and (min-width:320px) {}
@media screen and (min-width:425px) {}
@media screen and (min-width:475px) {}
@media screen and (min-width:768px) {

}
@media screen and (min-width:1024px){
    .btn img {
        width: 35px;
    }
    
    .btn-right img {
        width: 45px;
    }
    .interest-card-item{
        font-size: 16px;
    }

}
@media screen and (min-width:1200px){
    .c-d-content{
        font-size: 12px;
    }
}
@media screen and (min-width:1440px){
    .btn img {
        width: 45px;
    }
    
    .btn-right img {
        width: 60px;
    }
}
